.scene {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1vmin 1vmin;
  grid-template-columns: repeat(20, 2vmin);
  grid-template-rows: repeat(20, 2vmin);
  border-radius: 50%;
}
