.scene {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1vmin 1vmin;
  grid-template-columns: repeat(15, 3vmin);
  grid-template-rows: repeat(15, 3vmin);
  transform: rotate(45deg);
}

.scene__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.scene__item {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}

.effect-in {
  animation-name: in;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;;
  }
}