.scene {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1vmin 1vmin;
  grid-template-columns: repeat(15, 3vmin);
  grid-template-rows: repeat(15, 3vmin);
}

.scene__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.scene__item {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}

.effect-min-max-ok {
  animation-name: min-max-ok;
  animation-duration: 2200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.effect-max-min-ok {
  animation-name: max-min-ok;
  animation-duration: 2200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.effect-scene-in {
  animation-name: scene-in;
  animation-duration: 2200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.effect-slide-down {
  animation-name: slide-down;
  animation-delay: 1000ms;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.effect-wind {
  animation-name: wind;
  animation-delay: 2200ms;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes min-max-ok {
  0% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes max-min-ok {
  0% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scene-in {
  0% {
    opacity: 0;
    transform: scale(2) rotate(45deg);
  }
  60% {
    transform: scale(4) rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(45deg);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(80px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes wind {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(15deg);
  }
  70%{
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}